/* ---- 💫 https://github.com/JaKooLit 💫 ---- */
/* Wallpaper Effects */

@import "~/.config/rofi/config.rasi" 

/* ---- Entry ---- */ 
entry {
  width: 20%;
  placeholder: "🏙️ Choose desired wallpaper effect";
}

/* ---- Window ---- */
window {
  width: 24%;
  height: 300px;
}

/* ---- Listview ---- */
listview {
  fixed-columns: false;
  colums: 2;
  lines: 7;
}

